.videoWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -100;
}

#videoBg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 10;
    text-align: center;
    color: #fff;
    padding: 20px;
    user-select: auto;
}
