.NextWeather {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
    font-family: 'Noto Sans JP', sans-serif;
}

.Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
    color: white;
    text-shadow: 2px 2px 4px #000000;
    min-width: 140px;
    height: 80%;
}

.Card p {
    font-size: 1.5rem;
    font-weight: 300;
}

.Card p:first-child {
    font-size: 2rem;
    font-weight: 700;
}
