.GoogleBtn {
    transition: background-color 0.3s, box-shadow 0.3s;
    margin: 10px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-weight: 500;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*letter-spacing: 0.5px;*/
}

.GoogleBtn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.GoogleBtn:active {
    background-color: #eeeeee;
}

.GoogleBtn:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
}

.GoogleBtn img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    padding: 0;
}
